{% extends "main/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <form action="{% url 'users:register' %}" method="POST" class="custom-form">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label for="username">Username:</label>
    {{ form.username.errors }}
    {{ form.username }}

    <label for="password1">Enter Password:</label>
    {{ form.password1.errors }}
    {{ form.password1 }}

    <label for="password2">Confirm Password:</label>
    {{ form.password2.errors }}
    {{ form.password2 }}

    <button type="submit">Register</button>
</form>

{% endblock %}