{% extends "main/layout.html" %}

{% block title %}
    Edit {{ bookmark.title }}
{% endblock %}

{% block content %}
    <h1>Edit Bookmark</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Save Changes</button>
    </form>

    <p>
        <div class="edit-links">
        <a href="{% url 'Dashboard:dashboard' %}">← Back to Dashboard</a>
        <a href="{% url "Dashboard:delete_bookmark" bookmark.slug %}">← Delete Bookmark</a>
        </div>
    </p>
{% endblock %}
