{% extends "main/layout.html" %}

{% block title %}
    About TabVault
{% endblock %}

{% block content %}
    <h1>About This App</h1>
    <p>This application is built to help users save and manage their favorite links — from YouTube videos to useful articles and more. The idea is simple: give users a clean, organized dashboard to store, categorize, and revisit important URLs whenever they want. Inspired by everyday browsing struggles, this app is designed to be your personal bookmarking assistant.</p>
{% endblock %}